@import 'components/footer';
@import 'base/general-styles';
@import 'base/maps.scss';
@import 'base/extends';
@import 'base/mixins';

.productos{
    padding: 0%;

    &:hover {
		transform: scale(1.25);
		transition: all 1s ease;
            }
}

// .navbar-nav.me-auto.mb-2.mb-lg-0 {
//     position: absolute;
//     left: 50%;
//     transform: translatex(-50%);
// }

/* Servicios */

.cajones-s{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    border: 2px solid white;
    padding: 1%;
    @extend %organizacion;
}

/* Portfolio */

.carousel-text{
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.carousel-item{
    padding: 10%;
}

.disclaimer{
    display: none;
}

