@import 'components/footer';
@import 'base/general-styles';
@import 'base/maps.scss';
@import 'base/extends';
@import 'base/mixins';

.productos{
    padding: 0%;

    &:hover {
		transform: scale(1.25);
		transition: all 1s ease;
            }
}

// .navbar-nav.me-auto.mb-2.mb-lg-0 {
//     position: absolute;
//     left: 80%;
    
// }

/* Servicios */

.cajones-s{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
    border: 2px solid white;
    padding: 1%;
    @extend %organizacion;
}

/* Portfolio */

.carousel-text{
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.carousel-item{
    padding: 10%;
}

.disclaimer{
    display: none;
}

h1,h3,h4,h6, .px-4 {
    color: white;
}

.home .carousel-item {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.home .carousel-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
.home .carousel-item .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home .carousel-item h2{ 
    font-size: 80px;
    color: #ffffff;
    margin: 0 0 10px;
    opacity: 0;
}

.home .carousel-item p{ 
    font-size: 30px;
    color: #eeeeee;
    margin: 0;
    opacity: 0;
}

.home .carousel-item.active h2{ 
   animation: fadeInLeft 0.5s ease forwards;
}

.home .carousel-item.active p{ 
    animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.home .carousel-controls {
    
    position: absolute;
    left: 50%;
    bottom: 40px;
    z-index: 10;
    transform: translateX(-50%);

}

.home .carousel-indicators {
    position: relative;
    margin: 0;
}

.home .carousel-indicators button{
    height: 70px;
    width: 70px;
    margin: 0 5px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: 3px solid transparent;
    transition: all 0.3s ease;
}

.home .carousel-indicators button.active{
    border-color: #ffffff;
    transform: scale(1.2);
}

.home .carousel-control-next,
.home .carousel-control-prev {
    height: 60px;
    width: 60px;    
    opacity: 1;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.home .carousel-control-next {
    right: -90px;
}
.home .carousel-control-prev {
    left: -90px;

}

.home .carousel-control-next:hover,
.home .carousel-control-prev:hover{
    box-shadow: 0 0 10px #ffffff;
} 



// Mobile 

@media screen and (max-width:480px) {
    .LogoA4{
        display: none;
    }
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
    
    .clientes {
        display: none;
    }

    .social-fixed{
        display: none;
    } 

    .img3{
        display: none;
    }

    .videoprint{
        width: 455px;   
    }

    #intro {
        width: 80% !important;
    }

    .home .carousel-item h2{ 
        font-size: 50px;
    }

    .home .carousel-indicators button{
        height: 50px;
        width: 50px;
        margin: 0 5px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        border: 3px solid transparent;
        transition: all 0.3s ease;
    }
} 

// Switch

.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: 3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    }
    &.active{
        background: orange;
        color: #000;
        &::after{
            right: 0;
            left: unset;
        }
    }
    span { 
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
    }
}

body.dark {
    background:rgba(0, 0, 0, 0.6) url("../imagenes/Fondo.png");
    background-size: cover;
    background-blend-mode: darken;
    transition: ease 2s all;
  }

  
