
@import 'variables';

.titulo{
    font-family: $font-family;
    font-weight:$font-weight;
    font-size: $font-size;
    text-align: $text-align;
}

body{
    background-image: url("../imagenes/Fondo.png");
    background-size: cover;
}

.img{
    width: 100%;
    height: auto;
}

footer{
    background-image: url('/imagenes/fondo-hexagonal-oscuro_1048-10861.jpg');
    background-size: cover;
}